<h1>All Owners Index</h1>
<ul>
  <%@owners.each do |owner|%>
    <li><%= link_to owner.full_name, owner_path(owner)%></li>
  <%end%>
</ul>
<%= button_to "2CatsOrMoreClub", catlady_path, method: :get %>
<%= button_to "NewOwner", new_owner_path, method: :get %>
